In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [11]:
df = pd.read_csv('DATASET_FINAL_NO_STOPWORDS.csv')

In [12]:
df.head()

                                           Sentiment     Label
0                                            magmaan  positive
1                                          mahiwason  positive
2                        simpleng baha nanaman lriga  negative
3  uda karapatan reklamo kadaklan bayad 3 taon ha...  negative
4                                maray diri apektado  negative

heatmap

all metrics

best_model

20% of dataset na random

dataset is same in all models but random picking

print random dataset to be sure (make new csv)

confusion matrix

sana matapos na